**/build/**
esp/esp-idf/tools/kconfig/lxdialog/yesno.o
esp/esp-idf/tools/kconfig/mconf.d
esp/esp-idf/tools/kconfig/mconf.o
esp/esp-idf/tools/kconfig/zconf.hash.c
esp/esp-idf/tools/kconfig/zconf.lex.c
esp/esp-idf/tools/kconfig/zconf.tab.c
esp/esp-idf/tools/kconfig/zconf.tab.d
esp/esp-idf/tools/kconfig/zconf.tab.o
esp/esp-idf/tools/kconfig/lxdialog/checklist.d
esp/esp-idf/tools/kconfig/lxdialog/checklist.o
esp/esp-idf/tools/kconfig/lxdialog/inputbox.d
esp/esp-idf/tools/kconfig/lxdialog/inputbox.o
esp/esp-idf/tools/kconfig/lxdialog/textbox.d
esp/esp-idf/tools/kconfig/lxdialog/textbox.o
esp/esp-idf/tools/kconfig/lxdialog/util.d
esp/esp-idf/tools/kconfig/lxdialog/util.o
esp/esp-idf/tools/kconfig/lxdialog/yesno.d
esp/esp-idf/tools/kconfig/lxdialog/menubox.o
esp/esp-idf/tools/kconfig/conf-idf
esp/esp-idf/tools/kconfig/conf.d
esp/esp-idf/tools/kconfig/conf.o
esp/esp-idf/tools/kconfig/mconf-idf
esp/esp-idf/tools/kconfig/lxdialog/menubox.d
serial_grapher/data.txt
esp/esp-idf/components/partition_table/gen_esp32part.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/__init__.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/FrameDecorator.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/FrameIterator.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/frames.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/printing.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/prompt.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/types.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/__init__.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/explore.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/frame_filters.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/pretty_printers.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/prompt.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/type_printers.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/unwinders.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/command/xmethods.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/function/__init__.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/function/caller_is.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/function/strfns.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/printer/__init__.pyc
esp/xtensa-esp32-elf/share/gdb/python/gdb/printer/bound_registers.pyc
